<html>
    <head>
        <title>Performance Data</title>
    </head>
    <body>
       <h1>Welcome to Performance Data Page</h1>
        <form action ="/perform" method="POST">
            Date <input type="date">
            Location <select name="locat" id="loc">
              <option value="Main DR">Main DR</option>
              <option value="TAEI DR">TAEI DR</option>
              <option value="OP DR">OP DR</option>
              <option value="PMSSY DR">PMSSY DR</option>
               <option value="BED Xray">BED Xray</option>
                <option value="Barium">Barium</option>
                <option value="IVP">IVP</option>
          <div> MainDR_OP <input type="number"> </div>  
            MainDR_IP_NonMLC <input type="number">
                
            </select>
            
        </form>
    </body>
</html>