{% extends "base.html" %}
{% block head %}  Performance {% endblock %}
    {% block content %}
        <hr>Welcome to Perfrrmance Data Page
        <div class="container-fluid">
        <form action ="/perform" method="POST">
            <div class ="container d-flex flex-row bg-dart">
            <div class="card" style="width: 22rem;">
              <div class="card-body">
                <h5 class="card-title">Main DR</h5>
                <div>Date <input type="date" class="form-control" name="date" required"> </div> 
                <div>
                     <div> OP <input type="number" class ="form-control"> </div>
                     <div> IP_NonMLC <input type="number" class ="form-control"></div>
                    <div>MLC <input type="number" class ="form-control"></div>
                    <div>Total <input type="number"  class ="form-control"></div>
                      </div>
                      <div>
                          <div>Exp_OP <input type="number" class ="form-control"> </div>
                          <div>Exp_IP_NonMLC <input type="number" class ="form-control"> </div>
                          <div>Exp_MLC <input type="number" class ="form-control"> </div>
                          <div>Exp_Total <input type="number" class ="form-control"> </div>
                      </div>
               </div>
            </div>
            </div>
            </div>
        
          <div>
            <input type="submit" class="primary" value="Submit">
            </div>
        </form>
            </div>
{% endblock %}
</html>