{% extends "base.html" %}
    {% block head %}
    <h1>Processing Form</h1>
    {% endblock %}
    {% block content %}
<div class="container d-flex flex-column">
             <form name="pform" method="POST" enctype="multipart/form-data" action="{{url_for('process')}}">
            UPLOAD PREAUTH FILE: <Input type="file" name="file"/>
            UPLOAD CLAIMS FILE: <Input type="file" name="file"/>
             <input type="submit" value="Generate" name="cbutton"/>
          </form>
</div>

{% endblock %}
